[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pysqlite3 = "*"

[dev-packages]
pyinstaller = "*"
pywin32-ctypes = "*"

[requires]
python_version = "3.8"
